.house {
    width: 600px;
}

.container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    width: 100%;
}

.mobile-chrome {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/IPhone_7_Plus_Jet_Black.svg/800px-IPhone_7_Plus_Jet_Black.svg.png');
    background-repeat: no-repeat;
    background-size: 310px 600px;
    height: 600px;
    width: 310px;
}

.mobile-frame {
    background-color: white;
    position: relative;
    top: 70px;
    left: 18px;
    width: calc(310px - 37px);
    height: calc(600px - 140px);
    border: none;
    border-radius: 5px;
}

.tab-chrome {
    background: url('https://p7.hiclipart.com/preview/182/601/227/ipad-computer-icons-clip-art-free-download-ipad-png-images.jpg');
    background-repeat: no-repeat;
    background-size: 450px 600px;
    width: 450px;
    height: 600px;
    border-radius: 30px;
    overflow: hidden;
}

.tab-frame {
    position: relative;
    top: 60px;
    left: 22px;
    width: 405px;
    height: 480px;
    background: white;
    border: none;
    border-radius: 5px;
}

.without-chrome {
    background: none;
}
.without-chrome .frame {
    box-shadow: 1px 2px 2px 2px lightgrey;
}

button:focus {
    outline: 0;
}

.button-group {
    margin-bottom: 10px;
}

.icon-button {
    height: 40px;
    width: 40px;
    padding: 7px 5px 5px 5px;
    border-radius: 50%;
    margin: 5px;
    border: none;
    background-color: transparent;
}
.icon-button img.rotate {
    width: 80%;
}

.icon-button:hover {
    color: gray;
    background: rgba(0, 0, 0, 0.08);;
}